@CHARSET "UTF-8";
/* CSS Document */


body{
margin:0px;
}
#wangyetou{
height:55px;
background:#0067ac;
margin-left:0px;
margin-right:0px;
width:100%;
}
#toubugongneng{
	text-align:left;
height:80%;
width:800px;
}
#gshwjx{
margin-top:10px;
}
#wodewenjuan{
margin-left:38%;
color:#FFFFFF;
font-size:16px;

}
#huanying{
margin-left:25px;
font-size:16px;
color:#FFFFFF;
}
#xiaoxi{
font-size:16px;
color:#FFFFFF;
margin-left:25px;
}
#gongnengdaohang{
background:#0067ac;
color:#FFFFFF;
border: 0px solid #0067ac;
font-size:16px;
text-align:center;
}
#xiasanjiao{   
width:0;   
height:0;   
border-left:10px solid transparent;   
border-right:10px solid transparent;   
border-top:10px solid #FFFFFF;
}

/*网页体*/

#wangyeti{
margin-top:50px;
height:400px;
width:900px;
}

#part1{

height:200px;
width:50%;

}
#part2{

height:180px;
width:70%;
margin-left:15%;
margin-right:15%;
}
#part2_1{
border-radius:5px;
margin-right:5px;
height:79%;

width:45%;
float:left;
border:#0099FF 2px solid;
}
#part2_2{
border-radius:5px;
margin-right:5px;
height:79%;
width:45%;
float:right;
border: #339999 2px solid;
}

#text1{
text-align:center;
color:#666666;
padding-top:60px;
}
#chuangjianwenjuan{
padding-top:4px;
background:#ef9b11;
font-size:18px;
text-align:center;
margin-left:25%;
margin-right:25%;
margin-top:30px;
border-radius:5px;
height:30px;
}
#chuangjianwenjuan1{
color:#FFFFFF;
text-decoration:none;
}

#text2{
color:#666666;
margin-left:10px;
margin-right:5px;
}
#text3{
background:#b3def8;
text-align:right;
height:35px;
padding-right:10px;
padding-top:8px;
}
#text4{
color:#666666;
margin-left:10px;
margin-right:5px;
}
#text5{
padding-top:8px;
padding-right:10px;
background:#b6ddc7;
text-align:right;
height:35px;
}

#fengexian{
margin-bottom:25px;
border:1px #CCCCCC groove;
margin-left:15%;
margin-right:16%;
}

#xiezhu{
color:#0099FF;
text-decoration:none;
}
#liaojie{
color:#339999;
text-decoration:none;
}
#dibu{
margin-top:80px;
height:145px;
background:#e2eff7;
}
#dibukuang{
	width:900px;
height:120px;
color:#003399;
background:#e2eff7;
}
#guangshihuawenjuanxing{
margin-top:28px;
float:left;
}
#shouye{
font-size:18px;
height:11px;
margin-left:10px;
float:left;
margin-top:70px;
border-left:#0066CC 2.5px solid;
padding-bottom:14px;
}
#dibuhengxian{
clear:both;
border:1.5px #CCCCCC solid;
background:#0000CC;
}

#banquan{
color:#999999;
text-align:center;
}

#erweima{
margin-top:25px;
float:right;
}
#saoyisao{
font-weight:bold;
color:#e77817;
margin-top:40px;
float:right;
text-align:right;
}
#weixin{
font-weight:normal;
color:#333333;
}
























